/* 
    ======================================================
    ******************************************************
                    BREAKPOINT 900px
    ******************************************************
    ======================================================
*/

@media screen and (max-width: 900px) {

/* 
    =============================
    *** HEADER AND NAV STYLES ***
    =============================
*/

    header {
        flex-direction: column;
        height: fit-content;
    }

    header img {
        margin: 0 auto;
        height: 140px;
    }

    h1 {
        margin: 0;
    }

    nav {
        margin: 0 0 2em;
    }

/*
    ===================
    *** FORM STYLES ***
    ===================
*/
    #createRecipeForm, #updateRecipeForm {
        width: 625px;
    }

/* 
    ========================
    *** USER HOME STYLES ***
    ========================
*/

    .recipeCard, .userHomeGreeting {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .recipeCard h3 {
        text-align: center;
        margin-bottom: 0;
    }

    .recipeCardButton {
        width: 175px;
        position: relative;
        display: block;
        top: 0;
        right: 0;
        font-size: 1.25em;
        margin: 0 auto 1em;
    }

/* 
    ====================================
    *** SINGLE RECIPE DISPLAY STYLES ***
    ====================================
*/

    .singleRecipePage {
        width: 625px;
    }


}

/* 
    ======================================================
    ******************************************************
                    BREAKPOINT 664px
    ******************************************************
    ======================================================
*/

@media screen and (max-width: 664px) {

/* 
    =============================
    *** HEADER AND NAV STYLES ***
    =============================
*/

    header img {
        margin: 0 auto;
        height: 125px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 225px;
        margin: 0.3em auto;
    }

    .navButton {
        display: block;
        width: 100%;
    }

/*
    ===================
    *** FORM STYLES ***
    ===================
*/
    input, label, textarea {
        width: 275px;
    }

    #createRecipeForm, #updateRecipeForm {
        width: 325px;
        padding: 2em 1em;
    }

/* 
    ========================
    *** USER HOME STYLES ***
    ========================
*/
    .userHome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #userHomeMainContent {
        margin: 0 auto;
    }

    #userHomeMainContent h2 {
        margin: 0 auto 1em;
        text-align: center;
    }

    .categoryNavigation {
        background-color: #FFFFFF;
        border: none;
        width: 300px;
        padding: 0;
        max-height: fit-content;
        overflow: visible;
        margin-top: 2em;
        position: relative;
        border-radius: 3px;
    }

    .dropdownToggle {
        display: block;
        background-color: #002550;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        font-size: 2em;
        position: relative;
        z-index: 10;
    }

    .categoryList {
        display: none;
        position: absolute;
        top: 100%; /* pushes it right below the trigger */
        left: 0;
        z-index: 9;
        background: #0550AB;
        border: 1px solid #ccc;
        width: 100%;
        display: none;
    }

    .navigationBackground {
        position: fixed; /* Keeps it fixed while scrolling */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .open {
        display: block;
    }

    .userHomeCategoryButton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
        border-radius: 3px;
        border-top: none;
        box-shadow: none;
        color: black;
        list-style: none;
        margin: 0 auto;
        padding: 10px 0;
        cursor: pointer;
        height: 70px;
    }

    .createRecipeHomeButton {
        display: block;
        margin: 1.25em auto 1.75em ;
        width: 275px;
        font-size: 1.5em;
    }

/* 
    ====================================
    *** SINGLE RECIPE DISPLAY STYLES ***
    ====================================
*/

    .singleRecipePage {
        width: 325px;
        padding: 2em 2em 1em;
    }
    
    .singleRecipePage h3 {
        text-align: center;
        text-decoration: underline;
    }

    .recipeButtonsContainer {
        flex-direction: column;
        align-items: center;
    }

    .singleRecipeButton {
        margin-bottom: 1.5em;
    }

    .singleRecipePage li, .singleRecipePage p {
        font-size: 1em;
    }

/*
    =======================================
    *** CATEGORY MAINTENANCE PAGE STYLE ***
    =======================================
*/
    .categoriesMainElement {
        width: 325px;
        padding: 2em 0.5em;
    }

    .categoryForm {
        width: 300px;
        padding: 2em 0.5em;
    }

    .categoryForm label {
        width: 290px;
    }

    .addCategoryButton {
        width: 250px;
    }

/*
    ====================
    *** MODAL STYLES ***
    ====================
*/

    .deleteModalContent {
        width: 300px;
    }

    .deleteModalButtons {
        flex-direction: column;
    }




}