/* 
    ========================
    *** UNIVERSAL STYLES ***
    ========================
*/

* { box-sizing: border-box; }

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-color: #002550;
}

#root {
    max-width: 1500px;
    min-height: 100vh;
    background-color: #FDF8E7;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mainContentContainer {
    flex: 1;
}

/* 
    =====================
    *** BUTTON STYLES ***
    =====================
*/

 /* Default style for all buttons */
.defaultButton {
    text-decoration: none;
    padding: 5px 15px;
    background-color: #FDF8E7;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.defaultButton:hover {
    background-color: #002550;
    color: #FFFFFF;
}

 /* For <a> elements embedded in an <li> */
.defaultButton a {
    text-decoration: none;
    color: #000000;
}

.buttonGreen a,
.buttonRed a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Additional button background color schemes */
.buttonGreen {
    background-color: #059400;
    color: #FFFFFF;
}

.buttonGreen:hover {
    background-color: #1ddb17;
}

.buttonRed {
    background-color: #D10000;
    color: #FFFFFF;
}

.buttonRed:hover {
    background-color: #FF0000;
}

.buttonBlue {
    background-color: #0550AB;
    color: #FFFFFF;
}

.buttonBlue:hover {
    background-color: #002550;
}

/* Nav button additional styles */
.navButton {
    font-size: 1.25em;
    margin-right: 1em;
}

/* User home button additional styles */
.userHomeCategoryButton {
    font-size: 1.35em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.createRecipeHomeButton {
    display: block;
    margin: 1.25em 0 1.75em;
    width: 275px;
    font-size: 1.5em;
}

.recipeCardButton {
    width: 175px;
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.25em;
}

/* Single recipe button additional styles */
.singleRecipeButton {
    width: 200px;
    padding: 0.3em;
    font-size: 1.2em;
}

/* Update/Create recipe form button additional styles */
.updateCreateRecipeButton {
    width: 250px;
    font-size: 1.5em;
}

/* Add category page button additional styles */
.addCategoryButton {
    font-size: 1.35em;
    margin: 1em auto 0;
}

/* Delete modal button additional styles */
.modalButton {
    margin: 1em auto;
    font-size: 1.25em;
    width: 125px;
}

/* No category error button modal additional styles */
.noCategoryButton {
    width: 200px;
}

/* Welcome page CTA button additional style */
.welcomePageCtaButton {
    display: block;
    width: 275px;
    font-size: 1.4em;
    margin: 2em auto 0;
}

/*  
    ==========================================
    *** FORM STYLES - CREATE/UPDATE RECIPE ***
    ==========================================
*/

.backToRecipe {
    display: block;
    width: 180px;
    margin: 0 auto 0.75em
}

#createRecipeForm, #updateRecipeForm {
    background-color: #FFFFFF;
    width: 700px;
    margin: 4em auto;
    padding: 2em;
    border-radius: 3px;
    border: 2px solid black;
    text-align: center;
}

#createRecipeForm h2, #updateRecipeForm h2 {
    all: unset;
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    color: #0550AB;
}

select {
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

label, input, textarea {
    margin: 0 auto 0.75em;
    display: block;
    width: 350px;
    padding: 5px;
    font-size: 1em;
}

input, textarea, select {
    border: 1px solid #0550AB; 
    border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 4px #0550AB;
    box-sizing: border-box;
}

input[type="submit"]:focus {
    box-shadow: none;
    box-shadow: 4px 4px 0 #000000;
}

textarea {
    resize: none;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin: 1em auto 0.25em;
    font-weight: bold;
    font-size: 1.25em;
}

#updateCreateFormButtonContainer {
    margin-top: 2em;
}

/* 
    =================================
    *** AUTHORIZATION FORM STYLES ***
    =================================
*/
div[data-amplify-router] {
    margin: 50px auto;
}

/* 
    =============================
    *** HEADER AND NAV STYLES ***
    =============================
*/

header {
    background-color: #0550AB;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 160px;
    width: auto;
    margin: 15px 0 0 25px;
    text-align: center;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

/* 
    =====================
    *** FOOTER STYLES ***
    =====================
*/

footer {
    background-color: #0550AB;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.5em;
}

/* 
    ===========================
    *** WELCOME PAGE STYLES ***
    ===========================
*/

#hero {
    max-width: 100%;
    margin-top: 2em;
}

.welcomePageCta {
    width: 95%;
    background-color: #FFFFFF;
    margin: 2em auto;
    padding: 1em 4em 3em;
    border: 3px solid #0550AB;
    border-radius: 4px;
}

.welcomePageCta h1 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 2em;
    color: #0550AB;
    font-style: italic;
}

.welcomePageCta p, #welcomeCards p {
    font-size: 1.2em;
}

#welcomeCards {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.welcomePageCard {
    width: 400px;
    margin: 1em 5px;
    border: 3px solid #0550AB;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.welcomePadding {
    padding: 0 1em;
}

.welcomePageCard img {
    max-width: 100%;
}

.welcomePageCard h2 {
    margin-top: 0.75em;
    font-weight: bold;
    text-align: center;
    color: #0550AB;
    font-style: italic;
}

/* 
    ========================
    *** USER HOME STYLES ***
    ========================
*/
.userHome {
    display: grid;
    grid-template-columns: 275px auto;
}

#userHomeMainContent {
    margin-left: 1.75em;
}

#userHomeMainContent h2 {
    color: #0550AB;
    font-size: 2.5em;
    margin: 1em 0 1em 2em;
    font-style: italic;
    font-weight: bold;
}

.dropdownToggle {
    display: none;
}

.categoryNavigation {
    background-color: #4498FF;
    border-right: 2px solid #0550AB;
    border-bottom: 2px solid #0550AB;
    width: 250px;
    padding: 1em;
    height: fit-content;  
    max-height: 500px;
    overflow-y: scroll;
}

.categoryNavigation::-webkit-scrollbar {
    width: 8px;
    background: #002550;
}

.categoryNavigation::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 10px;
    height: 10px;
}

.categoryNavigation::-webkit-scrollbar-thumb:hover {
    background: #b5d5fc;
    cursor: pointer;
}

.userHomeGreeting {
    font-size: 1.25em;
}

.categoryList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.recipeCard, .userHomeGreeting {
    background-color: #FFFFFF;
    width: 575px;
    padding: 0.5em 1.5em;
    margin: 0 0 2em;
    position: relative;
    border-radius: 3px;
    border: 1px solid #0550AB;
}

.recipeCard {
    min-height: 90px;
}

.recipeCard h3 {
    margin: 0.5em;
    color: #0550AB;
    font-size: 1.5em;
    font-weight: bold;
}

.recipeCardDescription {
    font-size: 1.1em;
    margin-top: 0.5em;
}

.navigationBackground {
    display: none;
}

/* 
    ====================================
    *** SINGLE RECIPE DISPLAY STYLES ***
    ====================================
*/
.singleRecipePage {
    background-color: #FFFFFF;
    width: 700px;
    margin: 4em auto;
    padding: 2em 5em;
    border-radius: 3px;
    border: 2px solid black;
}

.singleRecipePage h2 {
    color: #0550AB;
    text-align: center;
    font-style: italic;
    font-size: 2.25em;
    margin: 0.5em auto 1em;
    font-weight: bold;
}

.singleRecipePage h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.45em;
    margin-top: 1em;
}

.singleRecipePage li, .singleRecipePage p {
    font-size: 1.25em;
    margin-bottom: 0.25em;
}

.recipeButtonsContainer {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}

/* 
    =======================================
    *** CATEGORY MAINTENANCE PAGE STYLE ***
    =======================================
*/

.categoriesMainElement {
    background-color: #FFFFFF;
    width: 500px;
    margin: 2em auto;
    padding: 3em;
    border: 2px solid black;
    border-radius: 3px;
}

.categoryForm {
    background-color: #FDF8E7;
    margin: 0 auto;
    width: 400px;
    padding: 2em 1em;
    border-radius: 3px;
    border: 2px solid black;
}

.categoryForm label {
    display: block;
    text-align: center;
    margin: 0 0 0.35em;
    color: #0550AB;
    font-style: italic;
    font-size: 1.75em;
}

.categoryDisplay {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.categoryDisplay h2 {
    font-weight: bold;
    text-align: center;
    color: #0550AB;
    font-style: italic;
    font-size: 2.25em;
    margin: 1em auto 0.25em;
}

.categoryDisplay ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.categoryDisplay li {
    border: 2px solid black;
    width: 300px;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0.35em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
}

.categoryText {
    font-size: 1.25em;
}

i {
    color: #D10000;
    cursor: pointer;
    font-size: 1.3em;
}

/* 
    ====================
    *** MODAL STYLES ***
    ====================
*/
.modalBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBackgroundLight {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.deleteModalContent {
    width: 400px;
    background: white;
    z-index: 10;
    border-radius: 16px;
    padding: 2em;
    text-align: center;
}

#deleteModal strong, #deleteModal em {
    color: #D10000;
}

.deleteModalButtons {
    display: flex;
    justify-content: space-around;
}

.spinner {
    border-bottom: 4px solid #002550;
    border-top: 4px solid #002550;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 
    MEDIA QUERY BREAKPOINTS

    955px
        User Homepage
            Cards smaller
            Thinner Side Menu

    760px
        User Homepage
            Mobile Cards

        Create Recipe
            Thinned Down
        Update Recipe
            Thinned down

    600px
        All
            Mobile Breakpoint

        User Homepage
            Mobile Category Navigation
            Mobile Cards
*/