:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #FDF8E7;
}

#root {
    margin: 0 auto;
}

* { box-sizing: border-box; }

/* HEADER STYLES */
header {
    background-color: #0550AB;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 7px 20px;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    color: black;
    margin: 0 10px;
}

nav a:hover {
    background-color: #87BDFF;
}

header img {
    height: 160px;
    width: auto;
    margin: 15px 0 0 25px;
    text-align: center;
}

/* */
/* The display grid will help a lot with these weird nav components!! */
/* STYLES FOR THE USER HOMEPAGE */
#userHome { /* */
    display: grid;
    grid-template-columns: 275px auto;
}

#userHomeMainSection {
    margin-left: 25px;
}

aside {
    background-color: #4498FF;
    border-right: 3px solid #0550AB;
    border-bottom: 3px solid #0550AB;
    width: 250px;
    /* text-align: center; */
    padding: 10px 13px 10px 10px;
    max-height: 500px;
}

aside ul {
    margin: 0;
    padding: 0;
}

.categoryButton, .categoryButtonGreen {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    color: black;
    text-align: center;
    list-style: none;
    margin: 15px auto;
    padding: 10px 0;
    cursor: pointer;
    background-color: #FDF8E7;
}

.categoryButtonGreen {
    background-color: #059400;
    color: #FFFFFF;
}

.createRecipeButton {
    display: block;

    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    text-align: center;
    cursor: pointer;
    background-color: #059400;
    color: #FFFFFF;

    text-decoration: none;
    margin: 20px 30px 0 auto;
    padding: 10px 0;
    width: 300px;
}

/* CREATE RECIPE STYLES */

#createRecipeForm {
    background-color: #FFFFFF;
    width: 700px;
    margin: 50px auto;
    padding: 2em;
    border-radius: 3px;
    border: 2px solid black;
    text-align: center;
}

#createRecipeForm h2 {
    font-size: 2em;
    font-style: italic;
    color: #0550AB;
}

select {
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

label, input, textarea {
    margin: 0 auto 10px;
    display: block;
    width: 350px;
    padding: 5px;
    font-size: 1em;
}

input, textarea, select {
    border: 1px solid #0550AB; 
    border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 4px #0550AB;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin: 20px auto 7px;
    font-weight: bold;
    font-size: 1.25em;
}

#formButtons {
    margin-top: 30px;
}

.addListButton, .submitButtons {
    background-color: #0550AB;
    margin: 10px auto;
    font-size: 1em;
    padding: 5px 15px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.submitButtons {
    background-color: #059400;
    color: #FFFFFF;
    width: 250px;
    padding: 10px 25px;
    font-size: 1.25em;
}

.addListButton:active, .submitButtons:active { /* This is to make the buttons do something cool on click!! */
    box-shadow: 2px 2px 0 black;
    transform: translateY(2px); 
    transform: translateX(2px);
}

/* SINGLE RECIPE DISPLAY STYLES */
